/* Weekly.css */

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  /* background-color: #f5f5f5; */
  /* /* width: 436px; */
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weekly-overview .header {
  margin-bottom: 20px;
}

.weekly-overview h2,
.demanding-crops h2,
.alerts h2,
.farming-tip h2,
.market-prices h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.weekly-btn,
.view-details-btn,
.view-alerts-btn,
.read-more-btn {
  border: none;
  color: #29bb49;
  padding: 13px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.weekly-btn:hover,
.view-details-btn:hover,
.view-alerts-btn:hover,
.read-more-btn:hover {
  background-color: #29bb49d5;
}

.chart,
.bar-chart {
  margin: 20px 0;
}

.alert {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.price-icon::before {
  content: "💰";
}

.weather-icon::before {
  content: "☁️";
}

.alert-title {
  font-weight: bold;
}

img {
  width: 100%;
  border-radius: 8px;
  /* margin-bottom: 10px; */
}

.farming-tip img,
.market-prices img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
.weekly-btn {
  background: none;
  border: 2px solid #29bb49;
}
