@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
body {
	margin: 0;
	line-height: normal;
}
:root {
	/* fonts */
	--font-dm-sans: "DM Sans";
	--font-raleway: Raleway;
	--font-roboto: Roboto;

	/* font sizes */
	--font-size-lg: 18px;
	--font-size-base: 16px;
	--font-size-12xl-5: 31.5px;
	--font-size-lgi: 19px;
	--font-size-6xl: 25px;

	/* Colors */
	--color-white: #fff;
	--color-brand: #29bb49;
	--color-limegreen-100: rgba(41, 187, 73, 0.05);
	--color-limegreen-200: rgba(41, 187, 73, 0.03);
	--color-forestgreen: #0fa130;
	--color-gray-100: rgba(0, 0, 0, 0.5);
	--color-gray-200: rgba(0, 0, 0, 0.2);
	--color-black: #000;

	/* Gaps */
	--gap-base: 16px;
	--gap-xl: 20px;
	--gap-6xs: 7px;
	--gap-8xs: 5px;
	--gap-19xl: 38px;
	--gap-lgi: 19px;
	--gap-29xl: 48px;
	--gap-5xl: 24px;
	--gap-xs: 12px;

	/* Paddings */
	--padding-45xl: 64px;
	--padding-xl: 20px;
	--padding-11xs: 2px;
	--padding-5xl: 24px;
	--padding-xs: 12px;
	--padding-3xs: 10px;
	--padding-4xs: 9px;
	--padding-10xs-5: 2.5px;
	--padding-2xs: 11px;
	--padding-50xl: 69px;
	--padding-44xl: 63px;
	--padding-26xl: 45px;
	--padding-22xl: 41px;
	--padding-82xl: 101px;
	--padding-31xl: 50px;
	--padding-7xs: 6px;
	--padding-base: 16px;
	--padding-11xl: 30px;
	--padding-base-5: 16.5px;
	--padding-lg: 18px;

	/* Border radiuses */
	--br-5xl: 24px;
	--br-xs: 12px;
	--br-4xs: 9px;
}

.personalizatio-1-icon {
	height: 149.4px;
	flex: 1;
	position: relative;
	max-width: 100%;
	overflow: hidden;
}
.movie-card {
	width: 303px;
	border-radius: var(--br-5xl);
	background-color: rgba(41, 187, 73, 0.06);
	border: 1px solid var(--color-brand);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding: var(--padding-2xs) 62px var(--padding-2xs) var(--padding-45xl);
	min-width: 303px;
}
.personal-details {
	margin: 0;
	position: relative;
	font-size: inherit;
	font-weight: 600;
	font-family: inherit;
}
.discover-a-diverse {
	align-self: stretch;
	position: relative;
	font-size: var(--font-size-lg);
	font-family: var(--font-dm-sans);
	color: #6f6c8f;
}
.insight-content {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--gap-xs);
}
.progress-fill {
	position: relative;
	font-weight: 600;
	display: inline-block;
	min-width: 11px;
}
.progress-bar {
	border-radius: var(--br-4xs);
	background-color: var(--color-brand);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding: var(--padding-4xs) var(--padding-lg);
}
.frame-child {
	align-self: stretch;
	height: 3px;
	position: relative;
	border-top: 3px solid var(--color-brand);
	box-sizing: border-box;
}
.progress-container-inner {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 0 0 var(--padding-base-5);
}
.progress-container {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	min-width: 114px;
}
.div {
	position: relative;
	font-weight: 600;
	display: inline-block;
	min-width: 11px;
}
.wrapper {
	border-radius: var(--br-4xs);
	background-color: var(--color-brand);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding: var(--padding-4xs) var(--padding-lg);
}
.frame-item {
	align-self: stretch;
	height: 3px;
	position: relative;
	border-top: 3px solid var(--color-brand);
	box-sizing: border-box;
}
.progress-container-child {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 0 0 var(--padding-base-5);
}
.progress-container1 {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	min-width: 114px;
}
.div1 {
	position: relative;
	font-weight: 600;
	display: inline-block;
	min-width: 11px;
}
.container {
	border-radius: var(--br-4xs);
	background-color: var(--color-brand);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding: var(--padding-4xs) var(--padding-lg);
}
.frame-inner {
	align-self: stretch;
	height: 3px;
	position: relative;
	border-top: 3px solid var(--color-brand);
	box-sizing: border-box;
}
.frame-div {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 0 0 var(--padding-base-5);
}
.progress-container2 {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	min-width: 114px;
}
.progress-label {
	position: relative;
	font-weight: 600;
	display: inline-block;
	min-width: 11px;
}
.progress-label-wrapper {
	width: 47px;
	border-radius: var(--br-4xs);
	border: 3px solid rgba(41, 187, 73, 0.47);
	box-sizing: border-box;
	flex-direction: row;
	padding: 5px 15px;
	color: rgba(41, 187, 73, 0.6);
}
.insight-content-parent,
.movie-card-parent,
.progress,
.progress-label-wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.progress {
	align-self: stretch;
	flex-direction: row;
	font-size: var(--font-size-lg);
	color: var(--color-white);
}
.insight-content-parent,
.movie-card-parent {
	max-width: 100%;
}
.insight-content-parent {
	flex: 1;
	flex-direction: column;
	gap: 36px;
	min-width: 372px;
}
.movie-card-parent {
	align-self: stretch;
	flex-direction: row;
	gap: var(--gap-5xl);
}
.d-3-farmer,
.personalization {
	backdrop-filter: blur(22.5px);
	background-color: var(--color-white);
	display: flex;
	align-items: flex-start;
	box-sizing: border-box;
}
.personalization {
	width: 964px;
	border-radius: var(--br-5xl);
	border: 0.5px solid var(--color-brand);
	flex-direction: column;
	justify-content: flex-start;
	padding: 31px;
	gap: 32px;
	max-width: 100%;
	text-align: left;
	font-size: 36px;
	color: var(--color-black);
	font-family: var(--font-roboto);
}
.d-3-farmer {
	width: 100%;
	position: relative;
	overflow: hidden;
	flex-direction: row;
	justify-content: center;
	padding: 10px;
	line-height: normal;
	letter-spacing: normal;
}
@media screen and (max-width: 825px) {
	.movie-card,
	.personalizatio-1-icon {
		flex: 1;
	}
	.personal-details {
		font-size: 29px;
	}
	.movie-card-parent {
		flex-wrap: wrap;
	}
	.personalization {
		padding-top: var(--padding-xl);
		padding-bottom: var(--padding-xl);
		box-sizing: border-box;
	}
}
@media screen and (max-width: 675px) {
	.progress {
		flex-wrap: wrap;
	}
	.insight-content-parent {
		gap: 18px;
		min-width: 100%;
	}
	.d-3-farmer,
	.personalization {
		gap: var(--gap-base);
	}
}
@media screen and (max-width: 450px) {
	.movie-card {
		padding-left: var(--padding-xl);
		padding-right: var(--padding-xl);
		box-sizing: border-box;
	}
	.personal-details {
		font-size: 22px;
	}
}
.what-farming-techniques {
	flex: 1;
	position: relative;
	font-weight: 600;
	display: inline-block;
	max-width: 100%;
}
.farming-techniques {
	width: 720px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 0 var(--padding-7xs);
	box-sizing: border-box;
	max-width: 100%;
	font-size: var(--font-size-12xl-5);
	font-family: var(--font-raleway);
}
.technique-item {
	margin: 0;
	align-self: stretch;
	height: 16px;
}
.organic-farming {
	position: relative;
	display: inline-block;
	min-width: 122px;
}
.technique-items {
	width: 157px;
	border-radius: var(--br-4xs);
	background-color: var(--color-white);
	border: 0.5px solid var(--color-gray-200);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--padding-2xs) var(--padding-4xs) var(--padding-2xs)
		var(--padding-3xs);
	gap: var(--gap-xs);
}
.frame-input {
	margin: 0;
	align-self: stretch;
	height: 16px;
}
.irrigation-methods {
	position: relative;
}
.technique-items1 {
	width: 159px;
	border-radius: var(--br-4xs);
	background-color: var(--color-white);
	border: 0.5px solid var(--color-gray-200);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: var(--padding-2xs) var(--padding-4xs) var(--padding-2xs)
		var(--padding-3xs);
	gap: var(--gap-xs);
}
.option1:hover,
.option2:hover,
.option3:hover,
.option4:hover,
.alert1:hover,
.alert2:hover,
.alert3:hover {
	background-color: rgb(195, 246, 195);
}
.frame-input1 {
	margin: 0;
	width: 77px;
	height: 16px;
}
.modern {
	position: relative;
	font-size: var(--font-size-base);
	font-family: var(--font-dm-sans);
	color: var(--color-black);
	text-align: left;
	display: inline-block;
	min-width: 58px;
}
.technique-items2 {
	cursor: pointer;
	border: 0.5px solid var(--color-gray-200);
	padding: var(--padding-2xs) var(--padding-2xs) var(--padding-2xs)
		var(--padding-11xl);
	background-color: var(--color-white);
	border-radius: var(--br-4xs);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--gap-xs);
}
.frame-input2 {
	margin: 0;
	width: 87px;
	height: 16px;
}
.traditional {
	position: relative;
	display: inline-block;
	min-width: 78px;
}
.technique-items3,
.technique-list {
	display: flex;
	align-items: flex-start;
}
.technique-items3 {
	border-radius: var(--br-4xs);
	background-color: var(--color-white);
	border: 0.5px solid var(--color-gray-200);
	flex-direction: column;
	justify-content: flex-start;
	padding: var(--padding-2xs) var(--padding-2xs) var(--padding-2xs)
		var(--padding-xl);
	gap: var(--gap-xs);
}
.technique-list {
	flex-direction: row;
	justify-content: center;
	padding: var(--padding-11xs) var(--padding-base);
	gap: var(--gap-29xl);
}
.what-types-of {
	flex: 1;
	position: relative;
	font-weight: 600;
	display: inline-block;
	max-width: 100%;
}
.alerts-question,
.technique-options {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	max-width: 100%;
}
.alerts-question {
	align-self: stretch;
	flex-direction: row;
	padding: 0 var(--padding-7xs);
	box-sizing: border-box;
	font-size: var(--font-size-12xl-5);
	font-family: var(--font-raleway);
}
.technique-options {
	width: 720px;
	flex-direction: column;
	gap: var(--gap-5xl);
}
.alert-item {
	margin: 0;
	align-self: stretch;
	height: 16px;
}
.price-changes {
	position: relative;
	display: inline-block;
	min-width: 106px;
}
.alert-items {
	width: 155px;
	border-radius: var(--br-4xs);
	background-color: var(--color-white);
	border: 0.5px solid var(--color-gray-200);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--padding-2xs);
	gap: var(--gap-xs);
}
.frame-input3 {
	margin: 0;
	align-self: stretch;
	height: 16px;
}
.weather-updates {
	position: relative;
}
.alert-items1 {
	width: 153px;
	border-radius: var(--br-4xs);
	background-color: var(--color-white);
	border: 0.5px solid var(--color-gray-200);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: var(--padding-2xs) var(--padding-4xs) var(--padding-2xs)
		var(--padding-3xs);
	gap: var(--gap-xs);
}
.frame-input4 {
	margin: 0;
	align-self: stretch;
	height: 16px;
}
.demand-spikes {
	position: relative;
	display: inline-block;
	min-width: 115px;
}
.alert-items2,
.alert-options,
.farming-techniques-parent {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	box-sizing: border-box;
}
.alert-items2 {
	width: 139px;
	border-radius: var(--br-4xs);
	background-color: var(--color-white);
	border: 0.5px solid var(--color-gray-200);
	flex-direction: column;
	padding: var(--padding-2xs);
	gap: var(--gap-xs);
}
.alert-options,
.farming-techniques-parent {
	flex-direction: row;
	padding: var(--padding-11xs) var(--padding-82xl);
	gap: var(--gap-29xl);
	max-width: 100%;
}
.farming-techniques-parent {
	align-self: stretch;
	border-radius: var(--br-5xl);
	background-color: var(--color-limegreen-100);
	border: 0.8px solid var(--color-limegreen-100);
	overflow: hidden;
	flex-direction: column;
	align-items: center;
	padding: var(--padding-50xl) var(--padding-xl) var(--padding-44xl);
	gap: var(--gap-19xl);
	text-align: left;
	font-size: var(--font-size-base);
	color: var(--color-black);
	font-family: var(--font-dm-sans);
}
@media screen and (max-width: 825px) {
	.what-farming-techniques {
		font-size: var(--font-size-6xl);
	}
	.technique-list {
		flex-wrap: wrap;
		gap: var(--gap-5xl);
	}
	.what-types-of {
		font-size: var(--font-size-6xl);
	}
	.alert-options {
		flex-wrap: wrap;
		gap: var(--gap-5xl);
		padding-left: var(--padding-31xl);
		padding-right: var(--padding-31xl);
		box-sizing: border-box;
	}
	.farming-techniques-parent {
		gap: var(--gap-lgi);
	}
}
@media screen and (max-width: 675px) {
	.farming-techniques-parent {
		padding-top: var(--padding-26xl);
		padding-bottom: var(--padding-22xl);
		box-sizing: border-box;
	}
}
@media screen and (max-width: 450px) {
	.what-farming-techniques,
	.what-types-of {
		font-size: var(--font-size-lgi);
	}
	.alert-options {
		padding-left: var(--padding-xl);
		padding-right: var(--padding-xl);
		box-sizing: border-box;
	}
}
.right-1-icon {
	height: 18px;
	width: 18px;
	overflow: hidden;
	flex-shrink: 0;
	object-fit: contain;
}
.back,
.right-1-icon {
	position: relative;
}
.right-1-parent {
	border-radius: var(--br-4xs);
	background-color: var(--color-white);
	border: 0.5px solid var(--color-gray-200);
	overflow: hidden;
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: var(--padding-2xs) var(--padding-5xl);
	gap: var(--gap-8xs);
}
.right-1-icon1 {
	width: 18px;
	height: 18px;
	position: relative;
	overflow: hidden;
	flex-shrink: 0;
	object-fit: contain;
}
.back-button-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: var(--padding-10xs-5) 0 0;
}
.go-back {
	position: relative;
	font-size: var(--font-size-lg);
	line-height: 23.2px;
	font-family: var(--font-dm-sans);
	color: var(--color-brand);
	text-align: left;
	display: inline-block;
	min-width: 70px;
}
.back-button-container-parent {
	cursor: pointer;
	border: 1px solid var(--color-brand);
	padding: var(--padding-3xs) var(--padding-4xs) var(--padding-3xs)
		var(--padding-3xs);
	background-color: var(--color-limegreen-200);
	border-radius: var(--br-4xs);
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--gap-8xs);
}
.next {
	position: relative;
	font-size: var(--font-size-lg);
	display: inline-block;
	font-family: var(--font-dm-sans);
	color: var(--color-white);
	text-align: left;
	min-width: 42px;
}
.right-1-icon2 {
	height: 23px;
	width: 23px;
	position: relative;
	overflow: hidden;
	flex-shrink: 0;
	min-height: 23px;
}
.navigation,
.next-parent {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.next-parent {
	cursor: pointer;
	border: 0;
	padding: var(--padding-xs) var(--padding-5xl);
	background-color: var(--color-brand);
	border-radius: var(--br-xs);
	overflow: hidden;
	justify-content: flex-start;
	gap: var(--gap-6xs);
}
.next-parent:hover {
	background-color: var(--color-forestgreen);
}
.navigation {
	align-self: stretch;
	justify-content: space-between;
	padding: var(--padding-11xs) var(--padding-5xl);
	gap: var(--gap-xl);
	text-align: left;
	font-size: var(--font-size-lg);
	color: var(--color-gray-100);
	font-family: var(--font-dm-sans);
}
@media screen and (max-width: 450px) {
	.navigation {
		flex-wrap: wrap;
	}
}

.selected {
	background-color: var(--color-limegreen-100);
}

.technique-items,
.alert-items {
	cursor: pointer;
	padding: 10px;
	border: 1px solid var(--color-limegreen-100);
	margin-bottom: 5px;
	border-radius: 5px;
}

.technique-items:hover,
.alert-items:hover {
	background-color: var(--color-limegreen-100);
}
