.overview {
  padding: 20px;
  background-color: #f9f9f9;
  height: calc(100vh - 60px); /* Adjusted height to fit within viewport */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px; /* Gap between columns */
}

.column {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.overview-content {
  padding: 20px;
  width: 100%; /* Take full width */
}

.overview-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.overview-card {
  color: #82e795;
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.overview-card h3 {
  font-size: 16px;
  color: #0e0d0d;
}

.weather-icon {
  font-size: 3em;
  margin: 20px 0;
}

.circular-progress-wrapper {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
}

.change-indicator {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
}

.change-indicator.up {
  background-color: #d3f9d8;
  color: #28a745;
}

.change-indicator.down {
  background-color: #ffcccc;
  color: #d9534f;
}
