.sidebar {
    width: 250px;
    background-color: #ffffff;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }

  
  .sidebar-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 160px;
    padding-left: 50px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s ease;
    border: 0.09px #f8f8f8 solid;
    border-radius: 10%;
  }
  
  .sidebar-item:hover {
    background-color: #29BB49;
    color: white;
  }
  
  .sidebar-item span {
    margin-left: 10px;
    font-size: 16px;
  }
  