@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.wholesignin {
  width: 950px;
  height: 600px;
  display: flex;
  border: 2px solid #29bb492b;
  border-radius: 20px;
  margin: 48px auto;
  background-color: #fff;
  box-shadow: 1px 2px 101px #29bb4921;
  padding: 10px;
}
.welcome-to-greenet {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}

.signincontainer {
  width: 50%;
  padding: 20px;
  border-radius: 20px 0 0 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signincontainer h1 {
  font-family: "Raleway";
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.signincontainer div {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.inputcontainer {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.inputcontainer input {
  width: 100%;
  padding: 16px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  font-family: "DM Sans";
  margin-top: 12px;
}
.inputcontainer input:focus {
  border: 2px solid #29bb49;
}
.inputcontainer input:hover {
  cursor: pointer;
  border: 2px solid #29bb4962;
  background-color: #29bb4912;
}

.inputcontainer .icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.link-forget {
  width: 100%;
  display: flex;
  justify-content: end;
  color: #29bb49;
  text-decoration: underline;
  margin-bottom: 12px;
}
.link-forget:hover {
  cursor: pointer;
}
.signinbtn {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: none;
  background-color: #29bb49;
  color: white;
  font-size: 14px;
  cursor: pointer;
  /* margin-top: 10px; */
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.signinbtn:hover {
  background-color: #22a23e;
}

.or {
  text-align: center;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.or span {
  padding: 0 8px;
  background: white;
  border: 1px solid;
  border-radius: 101px;
  z-index: 4;
}

.or::before,
.or::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.or:not(:empty)::before {
  margin-right: -0.5em;
}

.or:not(:empty)::after {
  margin-left: -0.5em;
}

.btn button,
.btn2 button {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.btn button {
  background-color: black;
  color: white;
}

.btn2 button {
  border: 1px solid #000;
  background-color: #f9f9f9;
  color: black;
}

.btn2 button:hover {
  background-color: #29bb4927;
}

.align,
.align2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.align p,
.align2 p {
  margin-left: 8px;
}

.signinimage {
  width: 50%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signinimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.signin_link {
  display: flex;
  justify-content: center;
}

.signin_link a {
  padding: 13px 10px 0;
  text-decoration: none;
  text-decoration: underline;
  color: #29bb49;
}

.signin_link a:hover {
  opacity: 0.8;
  text-decoration: none;
}

/* my code from here */
.icons-field {
  font-size: 20px;
  position: absolute;
  left: 332px;
  top: 28px;
}

@media (min-width: 768px) {
  .wholesignin {
    flex-direction: row;
    height: 600px;
  }

  .signincontainer {
    width: 50%;
    border-radius: 24px 0 0 24px;
  }

  .signinimage {
    height: 100%;
    border-radius: 24px 0 0 24px;
  }

  .signinimage img {
    height: 100%;
  }
  form {
    padding: 0 40px;
  }
}
